MRDistribuidora/transmissao/Service References/labonorte/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.labonorte.com.br/mroticawcf/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.labonorte.com.br/mroticawcf/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.labonorte.com.br/mroticawcf/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_andamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:andamentos" />
  </wsdl:message>
  <wsdl:message name="IService1_andamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:andamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FilaRetorno_InputMessage">
    <wsdl:part name="parameters" element="tns:FilaRetorno" />
  </wsdl:message>
  <wsdl:message name="IService1_FilaRetorno_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilaRetornoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FilaEnvio_InputMessage">
    <wsdl:part name="parameters" element="tns:FilaEnvio" />
  </wsdl:message>
  <wsdl:message name="IService1_FilaEnvio_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilaEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_devolve_importados_InputMessage">
    <wsdl:part name="parameters" element="tns:devolve_importados" />
  </wsdl:message>
  <wsdl:message name="IService1_devolve_importados_OutputMessage">
    <wsdl:part name="parameters" element="tns:devolve_importadosResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="andamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/andamentos" message="tns:IService1_andamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/andamentosResponse" message="tns:IService1_andamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilaRetorno">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FilaRetorno" message="tns:IService1_FilaRetorno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FilaRetornoResponse" message="tns:IService1_FilaRetorno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilaEnvio">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FilaEnvio" message="tns:IService1_FilaEnvio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FilaEnvioResponse" message="tns:IService1_FilaEnvio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="devolve_importados">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/devolve_importados" message="tns:IService1_devolve_importados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/devolve_importadosResponse" message="tns:IService1_devolve_importados_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="andamentos">
      <soap:operation soapAction="http://tempuri.org/IService1/andamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilaRetorno">
      <soap:operation soapAction="http://tempuri.org/IService1/FilaRetorno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilaEnvio">
      <soap:operation soapAction="http://tempuri.org/IService1/FilaEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolve_importados">
      <soap:operation soapAction="http://tempuri.org/IService1/devolve_importados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://www.labonorte.com.br/mroticawcf/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>